body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 60px;
}

.ccPostGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}